<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="TaggEm.
    Helps to tag your friends with any content on Internet" />
    <meta name="keywords" content="TaggEm,Tags,Friends" />

    <meta name="google-signin-client_id" content="316193309283-p2j4rca3lbmcpj749bhij5ea41tf7579.apps.googleusercontent.com">
    
    <title>TaggEm - Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='assets/css/bootstrap.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ url_for('static',filename='assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='assets/css/style-responsive.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static',filename='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js') }}"></script>
      <script src="{{ url_for('static',filename='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js') }}"></script>
    <![endif]-->
  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <script type="text/javascript">
	function onSignIn(googleUser) {
	 var response=googleUser.getAuthResponse();
	 var id_token= googleUser.getAuthResponse().id_token;
 	 var profile = googleUser.getBasicProfile();
 	 	 console.log('ID: ' + id_token);
 	 	 console.log('Auth-response');
 	 	 for(var key in response) {
   			 console.log('key'+ key+':'+response[key]);
			}
 	 console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
 	 console.log('Name: ' + profile.getName());
 	 console.log('Image URL: ' + profile.getImageUrl());
 	 console.log('Email: ' + profile.getEmail());

 	 //Send id_token via post (https)
 	 var xhr = new XMLHttpRequest();
	 xhr.open('POST', 'https://localhost:8000/tokenSignInGoogle');
	 xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
	 xhr.onload = function() {
 	 console.log('Signed in as: ' + xhr.responseText);
 	 window.location=xhr.responseText; 
					}	; //111237505975220580487

      xhr.send('idtoken=' + id_token);
}


      </script>
      <script>
 	 function signOut() {
   		  var auth2 = gapi.auth2.getAuthInstance();
  		  auth2.signOut().then(function () {
    	  console.log('User signed out.');
  	  });


  	}
	</script>

	  <div id="login-page">
	  	<div class="container">
	  	<style type="text/css">
	  			#login {width: 100% !important;}

	  	</style>
	  	
		      <form class="form-login" >
		        <h2 class="form-login-heading">sign in now</h2>
		        <div class="login-wrap" style="text-align='center';">
		            <!-- <input type="text" class="form-control" placeholder="User ID" autofocus>
		            <br>
		            <input type="password" class="form-control" placeholder="Password">
		            <label class="checkbox"> -->
		            <!-- <a href="#" onclick="signOut();">Sign out</a> -->
		           <!--  <button class="btn btn-facebook btn-block" type="submit"><i class="fa fa-facebook "></i> Facebook</button>

		           -->   
		            	
		             <div id="login" class="g-signin2" data-onsuccess="onSignIn" style="margin='50%';"></div>
		                <span class="pull-right">
		                   
		                </span>
		            </label>
		           
		            <hr>
		            
		            <!-- <div class="login-social-link centered">
		            <p>or you can sign in via your social network</p>
		                <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
		                <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
		            </div> -->
		            <div class="registration">
		               <!--  Don't have an account yet?<br/>
		                <a class="" href="/signup">
		                    Create an account
		                </a> -->
		            </div>
		
		        </div>
		
		          <!-- Modal -->
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Forgot Password ?</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Enter your e-mail address below to reset your password.</p>
		                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
		
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
		                          <button class="btn btn-theme" type="button">Submit</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
		
		      </form>	  	
	  	
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static',filename='assets/js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/bootstrap.min.js') }}"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery.backstretch.min.js') }}"></script>
    <script>
        $.backstretch("static/assets/img/bg.jpg", {speed: 500});
    </script>


  </body>
</html>
